* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #202020;
}

.history {
    color: #fff;
    position: right;
}

.history button {
    color: #fff;
    position: top;
    width: 160px;
    margin: 8px;
    height: 80px;
    background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
}

.history .history-item {
    color: black;
    position: relative;
    grid-column: span 4;
    height: 40px;
    width: relative;
    left: 10px;
    border: none;
    outline: black;
    background-color: #7cafac;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: right;
    padding: 10px;
}

.container {
    position: left;
    min-width: 300px;
    min-height: 400px;
    padding: 40px 30px 30px;
    border-radius: 20px;
}

.container button {
    color: #fff;
    position: relative;
    width: 80px;
    margin: 8px;
    height: 80px;
    background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
}
.container .delete {
    width: 185px;
    background: linear-gradient(180deg, #9d2c2c, #ce1414)
}
.container .clear {
    width: 185px;
    background: linear-gradient(180deg, #5d4d4d, #7c6c6c)
}

.container .display {
    position: relative;
    grid-column: span 4;
    height: 100px;
    width: 390px;
    left: 10px;
    border: none;
    outline: black;
    background-color: #7cafac;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: right;
    padding: 10px;
    font-size: 2em;
}